@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Sketch&family=Share+Tech&family=Sixtyfour+Convergence&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/Roboto.ttf') format('truetype');
}


body {
    height: 100vh;
    background-color: black;
    margin: 0;
    color: aliceblue;
    padding: 0;
}

/* Navigation Bar  */

.navbar {
    /* border: 2px solid rgb(169, 11, 11); */
    border-radius: 20px;
    padding: 2px;
    background-color: rgba(140, 9, 9, 0);

}

.navbar-brand img {
    padding: 10px 20px;
    width: 30%;
    height: auto;
    border-radius: 100%;
    font-size: 30px;
    animation: float 4s ease-in-out infinite;
}

.container-fluid {
    /* border: solid 2px rgb(211, 0, 0); */
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    border-radius: 35px;

    /* transition: background 0.4s ease; */

}


.navbar-collapse {
    text-align: center;
    align-items: center;
    /* border: solid 2px blue; */
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar-nav {
    /* border: solid 2px blue; */
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 100px;
    border-radius: 35px;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    /* background: linear-gradient(to bottom, #c91111, #ce6d6d);
    background-size: 100% 300%;
    animation: gradientScroll 6s ease-in-out infinite; */
}


@keyframes gradientScroll {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

}


.navbar .nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    /* border: solid 2px rgb(255, 255, 255); */
    animation: float 4s ease-in-out infinite;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    /* box-shadow: 0px 2px 7px rgb(0, 0, 0); */
}


@keyframes float {

    0%,
    100% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(7px);
    }
}

.nav-link:hover,
.nav-link.active:hover {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    transform: scale(1.05);
    box-shadow: 0px 5px 7px rgb(255, 255, 255);

}

/* --------------------------------------------------------  */

/* Graphic Design */

.graphic-box {
    padding: 20px 30px;
    border: solid 1px white;
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.word-box {
    font-size: 100px;
    background: url(Images/image.png) no-repeat center center;
    font-weight: bolder;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    color: transparent;
    letter-spacing: 9px;
    line-height: 1.5;
    text-shadow: 1px 5px 3px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.graphic-box h2{
    font-size: 60px;
    text-align: left;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.graphics{
    border: 2px solid white;
    padding: 20px 30px;
    display: flex;
    gap: 30px;
}

.posts-box{
    padding: 40px 70px;
    height: 50%;
    width: 50%;
    border:2px solid rgb(255, 255, 255);
    justify-content: left;
    text-align: left;
}

.posts-box p{
    font-size: 22px;
    line-height: 1.9;

}

.posts-box img{
    background-image: url(Images/Restored.png);
    width: 100%;
    height: 100%;
    justify-content: left;
    transform: rotate(340deg);
    image-resolution: initial;
}